@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:#EEF9BF ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    width: 70px;
    height: 70px;
    position: fixed;
    left: 30px;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color:#eb7c21;
    background-color: white;
    border-radius: 10px;
    border:1px solid #eb7c21;
}

.seg {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: #eb7c21;
}
.timer-texto {
    font-size: 14px;
    font-weight: bold;
}
.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin-top: 40px;
    margin-bottom: 47px;
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
}
.cartas {
    width: 872px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
}
.carta {
    width: 117px;
    height: 146px;
    position: relative;
}

.face {
    width:100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
  }

.carta img {
    width:100px;
}

.inactive {
    pointer-events: none;
}