@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color:#EEF9BF ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    min-width: 50px;
    height: 55px;
    padding: 0 5px;
    position: fixed;
    left: 30px;
    top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color:#eb7c21;
    background-color: white;
    border-radius: 10px;
    border:1px solid #eb7c21;
    z-index: 2;
}

.seg {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: #eb7c21;

}
.timer-texto {
    font-size: 14px;
    font-weight: bold;
}
.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo {
    margin-top: 27px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
}

.cartasPai {
    width: 1150;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:20px;
    box-sizing:content-box;
}
.cartas {
    width: 1100px;
    margin-bottom:20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.carta {
    width: 110px;
    height: 137px;
    position: relative;
}

.face {
    width:100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
  }

.carta img {
    width:90px;
}

.inactive {
    pointer-events: none;
}

@media (max-width: 414px) {
    .cartasPai {
        width: 78%;
        min-height: 70vh;
        display: flex;
        align-items: center;
        margin: 0 auto;
        box-sizing:content-box;
    }
    .cartas {
        width: 78%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column; 
        flex-wrap: nowrap; 
         justify-content: center;
        align-items: center;
        margin: 0 auto;
    } 

    .timer {
        width: 30px;
        height: 30px;
        position: fixed;
        left: 100px;
        top: 93vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 5px;
        }
    .timer-texto {
       display: none;
    }
    .titulo {
        margin-bottom: 30px;
    }
}
@media (max-width: 1100px) {
    .cartas {
        width: 78%;
    }
    .timer {
    width: 50px;
    height: 30px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    }
    .timer-texto {
       display: none;
    }
    .seg {
        font-size: 22px;
    }
    }
   
@media (max-width: 872px) {
    .cartas {
        width: 78%;
    }
    .timer {
    width: 50px;
    height: 30px;
    position: fixed;
    left: 10px;
    top: 93vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    }
    .timer-texto {
       display: none;
    }
    .seg {
        font-size: 22px;
    }
    }
